@import 'partials/base';
@import 'partials/logoLoader';
@import 'partials/fullPage';
@import 'partials/navigation';
@import 'partials/header';
@import 'partials/socials';
@import 'partials/scrollDown';
@import 'partials/schedules';
@import 'partials/sections';

*, 
*:after, 
*:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}
body, 
html { 
    font-size: 100%; 
    padding: 0; 
    margin: 0;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: $mainTextColor;
}

.clearfix:before, 
.clearfix:after { 
    content: " "; 
    display: table; 
}
.clearfix:after { 
    clear: both; 
}

a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: $linkHoverColor;
    }
}

// pager right and left for slider
.fp-controlArrow {
  &.fp-prev,
  &.fp-next {
    border: 0;
    height: 76px;
    width: 30px;
    &:before,
    &:after{
      content: " ";
      display: block;
      width: 0.17em;
      height: 40px;
      background: $redBlack;
      position: absolute;
    }
  }
  &.fp-prev{
    &:before {
      @include rotate(38deg);
      top: 5px;
      left: 13px;
    }
    &:after {
      @include rotate(-38deg);
      top: 35px;
      left: 13px;
    }
  }
  &.fp-next{
    &:before {
      @include rotate(-38deg);
      top: 5px;
      right: 11px;
    }
    &:after {
      @include rotate(38deg);
      top: 35px;
      right: 11px;
    }
  }
}